@import url('https://fonts.googleapis.com/css2?family=Amatic+SC');

h1{
    text-transform: uppercase;
}

ul{
    list-style: none;
}

body{
    background-image: linear-gradient(#5A585A, #090947)
}



.profile{
    width: 40px;
    height: 40px;
    border-radius:50% ;
    margin-left: 400px;
}


.comtainer-main{
    overflow: hidden;
}

.foot-container{
    overflow: hidden;
}

  
.landing-container{
    /* background-color:  #024059;  */
    /* background-image: linear-gradient(to top, #2b2c68,#025959);     013A40 025959 79C7D9 C2EDF2 */
    background-repeat: no-repeat;
    padding-bottom: 150px;
    height: 800px;
    

}

.navbar, .fixed-top{
    background-color: black;
}


.brand{
    font-size: 30px;
    color: beige;
    font-weight: 500;
    padding-left: 650px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    

    
    position: relative;
    animation-name: branding;
    animation-duration: 3s;
    animation-timing-function: ease-in;       
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes branding{
    
        0%   { right:640px}
        100%  { right:-1900px;}
        /* 50%  { left:70px;} */
        /* 75%  { left:300px;}
        100% {margin-left:0px; } */
      }


/* @keyframes animate{
    0%,10%,100%{
        width: 50%;
    }
    70%,90%{
        width: 100%;
    }
} */

/* .brand{
    position: relative;
    justify-content: center;
} */

.container-nav{
    width: 10%;
    height: 5px;    
}



 .navbar-brand{
    font-size: 17px;
    margin-top: 2px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} 

.navbar-brand:hover{
    color: aqua;
    text-shadow: 1px 2px #025959 ;
}



.container{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 180px;
    
}

.heading{
    padding-top: 320px;
    width: 900px;
    

}

.contain-name{
    width: 1500px;
    font-family: initial;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s, cursor .5s step-end infinite;
    

}

.name{
    font-size: 48px;
    font-weight: 600;
}

.info{
    width: 1600px;
}

@keyframes cursor{
    50% {
        border-color: transparent;
    }
}

@keyframes typing{
    from {width: 0 }
}

.nav-link{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 15px;
}

/* .head-section{
    margin-left: 900px;
    margin-top: -200px;
    
} */


.card-title-academy, .card-title-school, .card-title-college{
    padding-left: 25px;
}

.card-text-ts{
    padding-left: 10px;
}

.card-body-skills{
    text-align: center;
}

.card-image-ovrlay{
    height: 100px;
}

.about-container{
    height: 200px;
    margin-top: 90px;
    margin: auto;
    margin-bottom: 400px;
    width: 1200px;
    padding-top: 50px;
}





#about{
    color: white;
}

.image2{
    height: 450px;
    
}

.skills-container .card{
    margin: 0 auto ;
    
    /* display: flex;
    flex-direction: column; */
}

.education-block{
    padding-top: 150px;
    padding-bottom: 400px;
    margin: 0 auto;
}

.card-title-school{
    text-align: start;
}

/* .card-title-college{
    margin-top: -100px;
    text-align: center;
}



.card-title-academy{
    text-align: end;
    margin-top: -100px;
} */

/* .card-text-college{
    text-align: center;

}
.card-text-academy{
    text-align: end;

} */

.skills-block{
    
    padding-top: 100px;
    padding-bottom: 100px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.logos-1, .logos-2{
    height: 300px;
    width: 300px;
    
}

.logos-1:hover{
    box-shadow: 2px 4px 3px #FFA500;

}

.logos-2:hover{
    box-shadow: 2px 4px 3px #2965f1 ;
}


.projects-heading{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.project-container{
    padding-right: 200px;
}

.row{
    gap: 0px;
}

.card-img-top{
    height: 100px;
}


.testimonial-container{
    margin: 400px;   
}

.test-heading{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.img01{
    height: 200px;
    width: 500px;
    padding-left: 220px;
    opacity: .8;
}

#carouselExampleDark{
    height: 550px;   
}

.carousel{   
    padding-bottom: 1rem;
}

.carousel-caption{
    top: 110%;
} 

.carousel-inner{
    overflow: visible;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    bottom: 4rem;
}


.contact-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
   
    
}

.contact-heading{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 200px;
}

.form-container{
    margin-top: 60px;
    margin-left: 100px;
}



 .contact-card{
    margin-top: 10px;
    /* margin-right: 30px; */
    padding-bottom: 200px;
    margin-left: 200px;
}

.card-title{
    text-align: center;
    padding-bottom: 20px;
}


.foot-container{
    padding: 50px 100px;
    background-color: rgba(160, 15, 93, 0.366);
    margin-top: 150px
}

.footer-info{
    text-align: right;
    padding: left 100px; ;
}



.card-body-contact{
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    
    
}




.card-title-contact{
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}

.card-text-contact{
    color: white;
    text-align: center;
}

.contact-me{
    color: white;
    text-align: center;
}

.contact-info{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.email{
    color: white;
    font: 1em sans-serif;
    text-align: center;
}

.phone-number{
    color: #270a98;
    text-align: center;
}


.card-link{
    text-align: center;
}

.contact-links{
        
    padding-left: 350px;
}






 @media screen and (max-width:425px) /* mobile screen MUST MOVE TESTIMONIAL CAROUSEL TO MIDDLE */
{
    #navbar{
        height: 200px;
        
    }
    .brand{
        margin: 0px 450px;
        font-size: 50px;
        text-decoration: dotted white;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .navbar-brand{
       
        
        font-size: 28px;
        font-weight: 300px;
        padding-right: 0px;
    }

    .contain-name{
        position: absolute;
        padding-left: 150px;
        padding-top: 220px;
        width: 700px;
        
    }

    .name{
        font-size: 30px;
        
    }

    .info{
        padding-top:300px ;
        width: 650px;
        padding-left: 180px;
        
    }

    .about-container{
        width: 1000px;
        height: 400px;
        margin-top: 300px;
        margin-bottom: 250px;
        margin-left: 60px;
        
    }

    .skills-container{
        gap: 100px;
    }
    
    .card-body{
        margin-bottom: 100px;
    }

    .card .border-info .mb-3{
        margin-top: 70px;
    }

    .education-block{
        width: 900px;
        height: 300px;
         margin-top: 300px; 
        margin-bottom: 200px;
        margin-left: 120px;
        gap: 500px;

    }

    .card-title-academy{
        padding-bottom: 2px;
    }

    .edu-block{
        margin-bottom: 100px;
    }

    .skills-block{
        width: 900px;
        height: 300px;
        padding-top: 300px;
        margin-left: 120px;
        padding-bottom: 500px;
       
    }

    .list{
        display: flex;
        flex-direction: row;
        justify-items: center;
        margin-top: 650px;
        margin-left: 500px;
        
    }

    .projects-heading{
        margin-left: 400px;
        
        
        margin-top: 200px;
        text-align: center;
        text-transform: uppercase;
    }

    .row{
         /* margin-top: 100px;  */
        display: flex;
        flex-direction: column;
        gap: 120px;
        position: relative;
        left: 120%;
        /* justify-content: center; */
        margin-right: 200px;
        padding-right: 30px;
        margin-top: -20px;
        width: 600px;
        font-size: 30px;
        

    }
    .card-img-top{
        height: 200px;
    }
    .projects .col{
        padding: 200px;
    }

    .testimonial-container{
        /* background-color: blue; */
        width: 600px;

    }

    #carouselExampleDark{
        height: 850px;
        padding-right: 0px;
         width: 300px;
    }

    .carousel-container{
        margin-right: 1000px;
    }

    .carousel-caption{
        font-size: 20px;
    }

    /* .carouselExampleDark{
        display: flex;
        justify-content: center;
        
    } */

    

    /* .carousel-item .active{
        padding: 80px;
    } */

    .test-heading{
        padding-right: 380px;
        
    }

    .img01{
        height: 200px;
        width: 500px;
        padding-left: 120px;
        opacity: .8;
    }

    .contact-container{
        display: grid !important;
        justify-content: space-between;
        margin-bottom: 800px;
    }

    .form-container{
        margin-top: 90px;
        margin-left: 280px;
        margin-bottom: 200px;
    }

    

    .contact-heading{
        margin-left: 440px;
        width: 200px;
    }

     .contact-card{
        margin-left: 295px;
        padding-bottom: 500px;
    
        
    }

    .foot-container{
        width: 350%;
        height: 400px;
    }
    .footer-info{
        text-align: right;
        margin-left: 150px;
        padding-top: 150px;
    }

    .input-group-text{
        padding-right: 15px;
        font-size: 2px;
    }
    
}










@media screen and (max-width:720px) and (min-width:450px)
{



    #navbar{
        height: 200px;
        
    }

    .navbar-brand{
        font-size: 35px;
    }

    .brand{
        font-size: 50px;
        font-weight: 600;
    }


    .comtainer-main{
        
        margin-top: 400px;
    }

    /* .about-container{
        width: 2900px;
        height: 2000px;
    } */

    /* .about-body{
        height: 1200px;
    } */
    .card-image-ovrelay{
        width: 2000px;
    }
     .card-about{
        width: 3200px;
        height: 1100px;
     }
   
    .card-text-about-2{
        font-size: 4px;
    }

    .contain-name{
        
        padding-left: 750px;
        padding-top: 20px;
        width: 2200px;
         
        
    }

    .info{
        padding-top:30px ;
        width: 1650px;
        padding-left: 870px;
        
    }

    .card-body-edu{
        height: 600px;
        width: 2000px;
        font-size: 15px;
    }
    .card-title-school{
        padding-top: 5px;
        padding-left: 5px;
        font-size: 25px;
    }

    .card-title-college{
        padding-left: 5px;
        font-size: 25px;
    }

    .card-title-academy{
        padding-left: 5px ;
        font-size: 25px;
    }
    .card-text-edu{
        font-size: 15px;
    }

    .skills-container{
        margin-top: 800px;
        margin-left: 720px;
        width: 1200px;
    }

    .list{
        align-items: center;
        margin-left: 1300px;
    }

    .row{
        display: grid;
        gap: 100px;
    
        
    }
        .projects-heading{
            padding-left: 125px;
        }
        .project-container{
            margin-left: 200px;
            padding-left: 400px;
        }

    .card-body-project{
        width: 400px;
        height: 250px;
    }

    .card-text-project{
        font-size: 60px;
    }

    .card-img-top{
        width: 1400px;
        height: 800px;
    }

    .test-heading{
        padding-left: 640px;  
        font-size: 60px;
    }

    #carouselExampleDark{
        height: 2250px;
        padding-right: 0px;
         width: 1100px;
    }

    .carousel-container{
        margin-left: 300px;
    }

    .carousel-caption{
        font-size: 60px;
    }

    .form-container{
        margin-bottom: 800px;
        
       
    }


    .contact-heading{
        margin-top: 900px;
        margin-left: 1040px;
        width: 600px;
        font-size: 60px;
    }
    .card-card-contact{
        margin-top: 100px;
        width: 1200px;
        height: 20px;
    }

    .contact-container{
        display: grid !important;
        justify-content: space-between;
        padding-top: 650px;
        margin-bottom: 2000px;
        padding-left: 800px;
    }

    .card-body-contact{
        padding-top: 20px;
        width: 1200px;
    }

    .contact-me{
        font-size: 45px;
    }
    .card-title-contact{
        font-size: 50px;
    }

    .card-text-contact{
        font-size: 35px;
    }

    .contact-info{
        font-size: 40px;
    }

    .email, .phone-number{
        font-size: 40px;
    }

    .contact-links{
        
        padding-left: 350px;
    }
    

    /* .testimonial-container{
            margin-left: 1050px;
    } */
    .foot-container{
    
        width: 410%;
        height: 400px;
    }

    }

    


    








