@import url('https://fonts.googleapis.com/css2?family=Amatic+SC');


.comtainer-main{
    overflow: hidden;
}







    
.landing-container{
    /* background-color:  #024059;  */
    /* background-image: linear-gradient(to top, #2b2c68,#025959);     013A40 025959 79C7D9 C2EDF2 */
    background-repeat: no-repeat;
    padding-bottom: 150px;
    height: 800px;
    

}

.navbar, .fixed-top{
    background-color: black;
}


.brand{
    font-size: 30px;
    color: beige;
    font-weight: 500;
    padding-left: 650px;
    font-family: 'Amatic+SC', cursive;
    text-transform: uppercase;
}


@keyframes animate{
    0%,10%,100%{
        width: 50%;
    }
    70%,90%{
        width: 100%;
    }
}

/* .brand{
    position: relative;
    justify-content: center;
} */

.container-nav{
    width: 10%;
    height: 5px;    
}



 .navbar-brand{
    font-size: 17px;
    margin-top: 2px;
    text-transform: uppercase;
    font-family: monospace;
    
} 

.navbar-brand:hover{
    color: aqua;
    text-shadow: 1px 2px #025959 ;
}



.container{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 180px;
    
}

.heading{
    padding-top: 320px;
    width: 200px;
    

}

.contain-name{
    width: 100%;
    font-family: initial;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s, cursor .5s step-end infinite;
    

}

.info{
    width: 600px;
}

@keyframes cursor{
    50% {
        border-color: transparent;
    }
}

@keyframes typing{
    from {width: 0 }
}

.nav-link{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 15px;
}

/* .head-section{
    margin-left: 900px;
    margin-top: -200px;
    
} */



.card-image-ovrlay{
    height: 100px;
}

.about-container{
    height: 200px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 400px;
    width: 1200px;
    padding-top: 50px;
}





#about{
    color: white;
}

.image2{
    height: 450px;
    
}

.skills-container .card{
    margin: 0 auto ;
    
    /* display: flex;
    flex-direction: column; */
}

.education-block{
    padding-top: 150px;
    padding-bottom: 400px;
    margin: 0 auto;
}

.card-title-school{
    text-align: start;
}

.card-title-college{
    text-align: center;
}

.card-title-academy{
    text-align: end;
}

.skills-block{
    
    padding-top: 100px;
    padding-bottom: 300px;
}



.projects-heading{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.row{
    gap: 0px;
}

.card-img-top{
    height: 100px;
}


.testimonial-container{
    margin: 400px;   
}

.test-heading{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.img01{
    height: 200px;
    width: 500px;
    padding-left: 220px;
    opacity: .8;
}

#carouselExampleDark{
    height: 550px;   
}

.carousel{   
    padding-bottom: 1rem;
}

.carousel-caption{
    top: 110%;
} 

.carousel-inner{
    overflow: visible;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    bottom: 4rem;
}


.contact-container{
    display: flex;
    justify-content: space-between;
}

.contact-heading{
    padding-top: 100px;
    text-align: center;
}

.form-container{
    margin-top: 90px;
    margin-left: 200px;
}



 .contact-card{
    margin-top: 100px;
    /* margin-right: 30px; */
    padding-bottom: 500px;
}

.card-title{
    text-align: center;
    padding-bottom: 70px;
}


.foot-container{
    padding: 50px 100px;
    background-color: rgba(53, 223, 223, 0.366);
    margin-top: 70px
}

.footer-info{
    text-align: right;
    padding: left 100px; ;
}

.card-body-contact{
    background-image: url(/images/tenor.gif);
    
}

/* img.gif{
    position: absolute;
    top: 100px;
    opacity: .8px;
    transform: translate(-50%,-50%);
    filter: grayscale(50%);
     */








 @media screen and (max-width:426px) /* mobile screen MUST MOVE TESTIMONIAL CAROUSEL TO MIDDLE */
{
    #navbar{
        height: 200px;
        
    }
    .brand{
        margin: 0px 450px;
        font-size: 50px;
        text-decoration: dotted white;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .navbar-brand{
        margin: 0 18px;
        
        font-size: 28px;
        font-weight: 300px;
    }

    .contain-name{
        position: absolute;
        padding-left: 150px;
        padding-top: 220px;
        width: 700px;
        
    }

    .name{
        font-size: 50px;
    }

    .info{
        padding-top:300px ;
        width: 650px;
        padding-left: 180px;
    }

    .about-container{
        width: 1000px;
        height: 400px;
       
        margin-bottom: 250px;
        margin-left: 60px;
        
    }
    
    

    

    .education-block{
        width: 900px;
        height: 300px;
        /* margin-top: 100px; */
        padding-bottom: 200px;
        margin-left: 120px;

    }

    .skills-block{
        width: 900px;
        height: 300px;
        padding-top: 200px;
        margin-left: 120px;
       
    }

    .projects-heading{
        margin-left: 490px;
    }

    .row{
        display: flex;
        flex-direction: column;
        gap: 50px;
        position: relative;
        left: 120%;

    }
    .projects .col{
        padding: 200px;
    }

    .testimonial-container{
        /* background-color: blue; */
        width: 600px;

    }

    /* #carouselExampleDark{
        height: 650px;
        padding-right: 300px;
    } */

    /* .carouselExampleDark{
        display: flex;
        justify-content: center;
        
    } */

    

    .carousel-item .active{
        padding: 80px;
    }

    .test-heading{
        padding-right: 350px;
        
    }

    .img01{
        height: 200px;
        width: 500px;
        padding-left: 120px;
        opacity: .8;
    }

    .contact-container{
        display: grid;
        justify-content: space-between;
    }

    .form-container{
        margin-top: 90px;
        margin-left: 280px;
    }

    

    .contact-heading{
        margin-left: 440px;
        width: 200px;
    }

     .contact-card{
        margin-left: 295px;
        
    }

    .foot-container{
        width: 350%;
    }
    .footer-info{
        text-align: right;
        margin-left: 100px;
    }

    .input-group-text{
        padding-right: 15px;
        font-size: 2px;
    }
    
}

@media screen and (min-width:501px)  /*desktop screen*/
{
    .contain-name{
        width: 700px;
    }
    








}